@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-normal.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    /* font-style here specifies whether is italic or normal form of imported font */
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-normal-black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-normal-light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-italic-light.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}


.infoimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.infosection {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 80px;
}

.img {
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 200px;
    height: 200px;
}

.infoheader {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


* {
    font-family: "Roboto", sans-serif;
    /* Defined font for all text in this website*/
}

h2 {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.fullhero, .footer {
    background-color: #1F2937;
}

.heroimage {
    background-color: grey;
    width: 400px;
    height: auto;
}

img {
    width: 400px;
    height: auto;
}

.fullhero {
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    min-height: 400px;
}

.hero {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: space-between;
}



.lefthero {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: grey;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.webtitle {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.heroparagraph {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 50px;
    margin-top: 15px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
}

.herobutton {
    align-self: flex-start;
    /* align-self used to stop button from stretching in column form,
    since flex-start tells it to stay at the axis don't move */
    margin-top: 16px;
}

.infoheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quotesection {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px 300px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.citation {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
